<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048524465418-govm77m6pmf491d0frs1ba86fsp3imu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048524465418-govm77m6pmf491d0frs1ba86fsp3imu7</string>
	<key>API_KEY</key>
	<string>AIzaSyC2hq-po693OH8Ss5_Q7vIwI_8giKH_OJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>1048524465418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nhannlt.exam.TodoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-8083d</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-8083d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048524465418:ios:9dc03d7c52a68390</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-8083d.firebaseio.com</string>
</dict>
</plist>